/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

/* Provide sufficient contrast against white background */
html, body, app-root, .app-box {
  height: 100vh;
  overflow: hidden;
  background-color: #e3e3e3;
}

app-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-dark {
  background-color: #125ea7 !important;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.app-add-button {
  display: flex;
  height: 2.5rem;
  line-height: 1;
  justify-content: center;
  align-items: center;
  width: 10rem;
  border-color: transparent;
  border-radius: 2px;
  background-color: #125ea7;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background .15s;
  margin: 0 auto;
  cursor: pointer;
}

.app-add-button:hover {
  background-color: gray;
  transition: background .25s;
}


.preview {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.preview.extended {
  top: 0;
}

.preview .bar {
  margin: 0;
  padding: .5rem 0;
  border-radius: 0;
  background-color: #e9ecef;
  box-shadow: 0 -0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.preview .bar .files {
  overflow-x: auto;
}

.preview .bar .btn {
  display: flex;
  align-items: center;
  white-space: nowrap;
  max-width: 250px;
  overflow: hidden;
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.preview .bar .btn .name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview .bar .btn .badge {
  top: 0;
}

.preview .bar .btn:not(:last-child) {
  margin-right: .5rem;
}

.preview .panel {
  flex: 1 1 0%;
  padding: 0;
  margin: 16px 16px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.preview .panel.container {
  margin-left: auto;
  margin-right: auto;
}

.preview .panel .header {
  background-color: #205d96;
}

.preview .panel .header .title {
  font-weight: 600;
  padding: .45rem 0;
  flex: 1 1 0%;
}

.preview .panel .header .actions i {
  color: rgba(255, 255, 255, 0.5);
  margin-left: .5rem;
  cursor: pointer;
}

.preview .panel .header .actions i:hover {
  color: #f8f9fa;
}

.preview .panel .files {
  flex: 1 1 0%;
  overflow: hidden;
  background-color: #fff;
}

.preview .panel .files .first {
  flex: 1 0 50%;
  overflow: hidden;
}

.preview .panel .files .second {
  flex: 1 0 50%;
  overflow: hidden;
}

.preview .panel .files .delimiter {
  flex: 0 0 2px;
  overflow: hidden;
  background-color: #d4d6d8;
  /* cursor: ew-resize; */
}

.preview .panel .files .title {
  background-color: #e9ecef;
  padding: .57rem 1rem;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.preview .panel .files .title h4 {
  flex: 1 1 0;
  font-size: 0.85rem;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview .panel .files .title i {
  opacity: .7;
  margin-left: .5rem;
  cursor: pointer;
}

.preview .panel .files .actions i:hover {
  opacity: 1;
}

.preview .panel .files .content {
  flex: 1 1 0;
  overflow: auto;
}

.preview .panel .files .content > div {
  padding: 15px;
}
