/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

/* Provide sufficient contrast against white background */
html, body, app-root, .app-box {
  height: 100vh;
  overflow: hidden;
}

app-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-dark {
  background-color: #125ea7 !important;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
