/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

/* Provide sufficient contrast against white background */
html, body, app-root, .app-box {
  height: 100vh;
  overflow: hidden;
  background-color: #e3e3e3;
}

app-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-dark {
  background-color: #125ea7 !important;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.app-add-button {
  display: flex;
  height: 2.5rem;
  line-height: 1;
  justify-content: center;
  align-items: center;
  width: 10rem;
  border-color: transparent;
  border-radius: 2px;
  background-color: #125ea7;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background .15s;
  margin: 0 auto;
  cursor: pointer;
}

.app-add-button:hover {
  background-color: gray;
  transition: background .25s;
}

.open ul.dropdown-menu {
  display: block;
}
