<div class="main">
  <div class="flist-holder pt-2 px-3">
    <table class="table table-hover table-sm text-nowrap table-list">
      <thead>
        <tr>
          <th><div><span>Name</span></div></th>
          <th><div><span>Registration No.</span></div></th>
          <th><div><span>Type</span></div></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="vehicles.length == 0"></ng-container>
        <ng-container *ngIf="vehicles.length > 0">
          <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.name}}</td>
            <td>{{vehicle.registrationNumber}}</td>
            <td>{{vehicle.type}}</td>
          </tr>
        </ng-container>
        <tr>
          <td><input type="text" [(ngModel)]="newVehicle.name"></td>
          <td><input type="text" [(ngModel)]="newVehicle.registrationNumber"></td>
          <td><input type="text" [(ngModel)]="newVehicle.type"></td>
        </tr>
      </tbody>
    </table>
    <div class="app-action">
      <button class="app-add-button" (click)="addNewVehicle()">Add new</button>
    </div>
  </div>
</div>

