<div class="main">
  <div class="flist-holder pt-2 px-3">
    <table class="table table-hover table-sm text-nowrap table-list">
      <thead>
      <tr>
        <th><div><span>First Name</span></div></th>
        <th><div><span>Last Name</span></div></th>
        <th><div><span>Address</span></div></th>
        <th><div><span>City</span></div></th>
        <th><div><span>Country</span></div></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="patients.length == 0"></ng-container>
      <ng-container *ngIf="patients.length > 0">
        <tr *ngFor="let patient of patients">
          <td>{{patient.firstName}}</td>
          <td>{{patient.lastName}}</td>
          <td>{{patient.address}}</td>
          <td>{{patient.city}}</td>
          <td>{{patient.country}}</td>
        </tr>
      </ng-container>
      <tr>
        <td><input type="text" [(ngModel)]="newPatient.firstName"></td>
        <td><input type="text" [(ngModel)]="newPatient.lastName"></td>
        <td><input type="text" [(ngModel)]="newPatient.address"></td>
        <td><input type="text" [(ngModel)]="newPatient.city"></td>
        <td><input type="text" [(ngModel)]="newPatient.country"></td>
      </tr>
      </tbody>
    </table>
    <div class="app-action">
      <button class="app-add-button" (click)="addNew()">Add new</button>
    </div>
  </div>
</div>
